<% if @post.errors.any? %>
  <div id="error_explanation">
    <div class="alert-box radius alert">
    <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved
    </div>
  </div>

  <div id="error_explanation">
    <div class="alert-box radius alert">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>